<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="images/hp1.jpg" class="card-img-top img-fluid" alt="Harry Potter">
      <div class="card-body">
        <h5 class="card-title">Harry Potter 1</h5>
        <p class="card-text">Harry Potter and the Sorcerer's Stone. The first book in the legendary Harry Potter series.
        </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="images/hp1.jpg" class="card-img-top img-fluid" alt="Harry Potter">
      <div class="card-body">
        <h5 class="card-title">Harry Potter 1</h5>
        <p class="card-text">Harry Potter and the Sorcerer's Stone. The first book in the legendary Harry Potter series.
        </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="images/hp1.jpg" class="card-img-top img-fluid" alt="Harry Potter">
      <div class="card-body">
        <h5 class="card-title">Harry Potter 1</h5>
        <p class="card-text">Harry Potter and the Sorcerer's Stone. The first book in the legendary Harry Potter series.
        </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="images/hp1.jpg" class="card-img-top img-fluid" alt="Harry Potter">
      <div class="card-body">
        <h5 class="card-title">Harry Potter 1</h5>
        <p class="card-text">Harry Potter and the Sorcerer's Stone. The first book in the legendary Harry Potter series.
        </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="images/hp1.jpg" class="card-img-top img-fluid" alt="Harry Potter">
      <div class="card-body">
        <h5 class="card-title">Harry Potter 1</h5>
        <p class="card-text">Harry Potter and the Sorcerer's Stone. The first book in the legendary Harry Potter series.
        </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  </div>
</div>